# Puerto predeterminado, el .env lo ordenare de la siguiente manera, siguiendo un formato "comodo" en la configuración, iniciando por:
# Configuración express JS -> Configuración base de datos > Configuración API

####################### CONFIGURACIÓN EXPRESS #######################
PORT=3000 # Predeterminado, puede cambiar a su preferencia.

####################### CONFIGURACIÓN BASE DE DATOS #######################
DATABASE_USER='root'
DATABASE_PASS=''
DATABASE_HOST='127.0.0.1'
DATABASE_PORT=3306
DATABASE_DB=donath-ia

####################### CONFIGURACIÓN API #######################
# Al setear un ADMIN_KEY, esta solo sera valida para ruta: /clients y /keys, es decir, si desea utilizar alguna ruta de uso con
# inteligencia artificial, debe crear un cliente y una key para ese cliente.
ADMIN_KEY=''